/*master styles*/
body {
    font-family: "Lato", sans-serif;
    margin: 40px;
    background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(63, 106, 202,0.08) 21%, rgba(63, 106, 202,0.08) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(63, 106, 202,0.08) 35%, rgba(63, 106, 202,0.08) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {

    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
   margin-right: 40px;
   font-size: 0.8m;
}
.nav-wrapper > .right-side > div {
    margin-right: 40px;
    font-size: 0.8m;
    color: gray;
 }

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.portfolio-items-wrapper {width: 100%;}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.contact-wrapper h1 {
    font-size: 70px;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-backround {
    height: 430px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.image-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}
/*needs to be more specific with selector*/
.image-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightblue;
}

.img-darken {
    transition: 1s ease-in-out;
    filter: brightness(10%);
}

/*about page*/

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
}

.profile-image-wrapper img{
    height: 600px;
    width: auto;
    place-items: center;
}

.profile-content-wrapper{
    text-align: center;
    line-height: 30px;
    padding: 100px;
}

.profile-content-wrapper h1 {
    font-size: 50px;
    text-align: center;
    color: black;
}
.dane-tsao h1 {
    color: #0066cc;
    text-align: center;
}

.profile-content-wrapper p1 {
    font-size: 20px;
    text-align: center;
    color: gray;
}

.content-wrapper h1 {
    font-size: 50px;
}

.social-icon a {
    margin-top: 30px;
    height: 0px;
    display: inline-flex;
    padding: 10px;
    color: gray;
    transition: color .2s;
    text-decoration: none;
    margin: 0 10px;
    font-size: 45px;
}
.social-icon a :hover {
    transition: all .5s ease-in;
    transition: all .5s ease-out;
    color: black;
    font-size: 50px;
}
.contact-wrapper {
    grid: 1fr 1fr;
}
.contact-wrapper h1 {
    font-size: 50px;
    color: black;
    text-align: left;
    margin-bottom: 10px;
}
.contact-wrapper p1 {
    font-size: 25px;
    color: gray;
    margin-bottom: 30px;
}